* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 235, 235);
  font-family: Roboto, sans-serif;
}

header {
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(60, 60, 60, 0.2), 0 1px 10px 0 rgba(60, 60, 60, 0.2);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

h1 {
  font-family: Cutive Mono;
  font-size: 40px;
}

button {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
}

button:hover {
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  transition: background-color .3s;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

footer {
  align-items: center;
  bottom: 0;
  column-gap: 10px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 10px;
  position: absolute;
  width: 100%;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}